commands:
  pip_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false
  pip_install:
    command: /opt/python/run/venv/bin/pip install -r requirements.txt
    ignoreErrors: false
  mhcflurry_install:
    command: mhcflurry-downloads fetch
    ignoreErrors: false


