commands:
  pip_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false

commands:
  pipinstall:
    command: pip install -r requirements.txt
    ignoreErrors: false

commands:
  mhcflurryget:
    command: mhcflurry-downloads fetch
    ignoreErrors: false




