commands:
  pip_upgrade:
    mode: "000755"
    owner: root
    group: root
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false
commands:
  pipinstall:
    command: pip install -r requirements.txt
    ignoreErrors: false
commands:
  create_wsgi_home_dir:
    mode: "000755"
    owner: root
    group: root
    command: if [ ! -d "/home/wsgi" ]; then echo "Creating directory /home/wsgi"; mkdir -p /home/wsgi; chown wsgi:wsgi /home/wsgi; else echo "Directory /home/wsgi already exists, all good!"; fi
commands:
  a:
    command: chown -R user /home/user/.theano
commands:
  b:
    command: chmod -R 775 /home/user/.theano 
commands:
  mhcflurryget:
    mode: "000755"
    owner: root
    group: root
    command: mkdir /tmp/foo
    ignoreErrors: false
commands:
  mhcflurryget2:
    mode: "000755"
    owner: root
    group: root
    command: mhcflurry-downloads fetch
    ignoreErrors: false


