<html>
  <head>
      <title>MHCflurry {{ mhcflurry_version }} prediction server</title>
     
  <link rel="stylesheet" href="{{ url_for('static', filename='poole.css') }} ">
  <link rel="stylesheet" href="{{ url_for('static', filename='syntax.css') }} ">
  <link rel="stylesheet" href="{{ url_for('static', filename='lanyon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='hammerlab.css') }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  
  <body>
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>

