{% extends "base.html" -%}
{% block content -%}

<form action="/results" method="post">
<table>
<tr>
    <td>{{form.peptide_input_type.label}}</td>
    <td>{{form.peptide_input_type}}</td>
</tr>
<tr>
    <td>{{form.peptide_contents.label}}</td>
    <td>{{form.peptide_contents(rows=6)}}</td>
</tr>
<tr>
    <td>{{form.peptide_length.label}}</td>
    <td>{{form.peptide_length}}</td>
</tr>
<tr>
    <td>{{form.allele.label}}</td>
    <td>{{form.allele(size=10, onchange="addAllele(this)")}}</td>
</tr>
<tr>
    <td>{{form.selected_alleles.label}}</td>
    <td>{{form.selected_alleles}}</td>
</tr>
<tr>
    <td></td>
    <td><input class="submit_button" type="submit"/></td>
</tr>
</table>

</form>

<script>

function addAllele(e) {
    debugger
    var allelesElement = document.getElementById('selected_alleles')
    allelesElement.value = allelesElement.value += e.value+';'
}

</script>



{%- endblock content %}

