{% extends "base.html" -%}
{% block content -%}

<form action="/results" method="post">

<h1>MHCflurry {{ mhcflurry_version }}</h1>
<p>This prediction server generates MHC class I binding predictions using <a href="http://github.com/hammerlab/mhcflurry">MHCflurry.</a></p>

<div>
<label>Enter whitespace-separated peptides or full length sequences in FASTA format:</label>
<textarea name="peptides" rows="20" cols="80">
</textarea>
</div>
<p />

<div>
<label>Select allele(s):</label>
<select name="allele" size="12" class="form-control" onchange="addAllele(this)">
    {% for allele in alleles %}
    <option value="{{allele}}">{{allele}}</option>
   {% endfor %}
</select>
</div>

<p />
<div>
Alleles selected: <input id='alleles' spellcheck="false" name="alleles" type="text" value="" size="100">
</div>
<br />
<div>
    <input type="submit" />
</div>
</form>

<script>

function addAllele(e) {
    debugger
    var allelesElement = document.getElementById('alleles')
    allelesElement.value = allelesElement.value += e.value+';'
}

</script>

{%- endblock content %}

